.search-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

.black-rabbit-img {
  width: 400px;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 12px 16px;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
  box-sizing: border-box;

  &::placeholder {
    color: darkgray;
  }
}

.search-options {
  padding: 0 16px;
  width: 100%;
  max-width: 400px;
  border: 1px solid gray;
  border-top: 0;
  max-height: 40vh;
  overflow: scroll;
  box-sizing: border-box;

  &.loading {
    display: flex;
    justify-content: center;
  }
}

.option-wrapper {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  margin: 4px 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: lightgrey;
  }
}

.option-logo {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.option-text {
  font-size: 16px;
  color: black;
}


// Mobile Adjustment
@media (max-width: 600px) {
  .search-page-wrapper {
    padding: 4px;

    h1 {
      font-size: 24px;
    }
  }

  .black-rabbit-img {
    width: 100%;
  }
}